body {
    background: url("../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: -20px 0 50px 0;
}

.top-left {
    border-width: 15px;
    border-left-width: 40px;
    border-top-width: 40px;
    border-style: solid;
    border-color: #393939;
    margin: 0;
    height: 350px;
    width: 350px;
    background-color: green;
    border-top-left-radius: 100%;
    box-shadow: 0px 0px 12px #222;
    display: inline-block;
}

.top-right {
    border-width: 15px;
    border-right-width: 40px;
    border-top-width: 40px;
    border-style: solid;
    border-color: #393939;
    height: 350px;
    width: 350px;
    background-color: red;
    border-top-right-radius: 100%;
    box-shadow: 0px 0px 12px #222;
    display: inline-block;
}

.bot-left {
    border-width: 15px;
    border-style: solid;
    border-color: #393939;
    height: 350px;
    width: 350px;
    border-left-width: 40px;
    border-bottom-width: 40px;
    background-color: blue;
    border-bottom-left-radius: 100%;
    box-shadow: 0px 0px 12px #222;
    display: inline-block;
}

.bot-right {
    border-width: 15px;
    border-right-width: 40px;
    border-bottom-width: 40px;
    border-style: solid;
    border-color: #393939;
    height: 350px;
    width: 350px;
    background-color: yellow;
    border-bottom-right-radius: 100%;
    box-shadow: 0px 0px 12px #222;
    display: inline-block;
}

.top {
    display: block;
}

.bottom {
    display: block;
}

.wrap {
    margin: 10vh auto;
    text-align: center;
}

.upper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -240px;
    height: 400px;
    width: 400px;
    border-width: 20px;
    border-radius: 50%;
    border-style: solid;
    border-color: #393939;
    background-color: white;
}

.title {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 100px;
    text-align: center;
}

.counter {
    height: 60px;
    text-align: center;
    font-size: 40px;
    margin-top: -15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: #393939;
    border-width: 3px;
    border-style: solid;
    background-color: #393939;
    color: red;
}

.start {
    text-align: center;
    font-size: 25px;
}

.mode {
    text-align: center;
    font-size: 25px;
}

.pointer {
    width: 20px;
    height: 20px;
    padding: 0;
!important;
    border-color: #393939;
    background-color: red;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 30px;
}

.on-off {
    margin-top: 10px;
}

.footer a{
    position: relative;
    color: white; !important;
}

@media screen and (max-width: 740px) {
    .top-left {
        border-width: 5px;
        border-left-width: 10px;
        border-top-width: 10px;
        border-style: solid;
        border-color: #393939;
        margin: 0;
        height: 150px;
        width: 150px;
        background-color: green;
        border-top-left-radius: 100%;
        box-shadow: 0px 0px 12px #222;
        display: inline-block;
    }

    .top-right {
        border-width: 5px;
        border-right-width: 10px;
        border-top-width: 10px;
        border-style: solid;
        border-color: #393939;
        height: 150px;
        width: 150px;
        background-color: red;
        border-top-right-radius: 100%;
        box-shadow: 0px 0px 12px #222;
        display: inline-block;
    }

    .bot-left {
        border-width: 5px;
        border-style: solid;
        border-color: #393939;
        height: 150px;
        width: 150px;
        border-left-width: 10px;
        border-bottom-width: 10px;
        background-color: blue;
        border-bottom-left-radius: 100%;
        box-shadow: 0px 0px 12px #222;
        display: inline-block;
    }

    .bot-right {
        border-width: 5px;
        border-right-width: 10px;
        border-bottom-width: 10px;
        border-style: solid;
        border-color: #393939;
        height: 150px;
        width: 150px;
        background-color: yellow;
        border-bottom-right-radius: 100%;
        box-shadow: 0px 0px 12px #222;
        display: inline-block;
    }

    .top {
        display: block;
    }

    .bottom {
        display: block;
    }

    .wrap {
        margin: 10vh auto;
        text-align: center;
    }

    .upper {
        position: relative;
        margin-top: -255px;
        margin-left: -100px;
        display: block;
        height: 200px;
        width: 200px;
        border-width: 5px;
        border-radius: 50%;
        border-style: solid;
        border-color: #393939;
        background-color: white;
    }

    .title {
        margin-top: 10px;
        margin-left: 0px;
        font-size: 40px;
        text-align: center;
    }

    .counter {
        height: 40px;
        width: 100px;
        text-align: center;
        font-size: 30px;
        padding-top: -10px;
        margin-top: -5px;
        margin-left: 60px;
        margin-bottom: 5px;
        border-radius: 5px;
        border-color: #393939;
        border-width: 3px;
        border-style: solid;
        background-color: #393939;
        color: red;
    }

    .start {
        text-align: center;
        font-size: 15px;
    }

    .mode {
        text-align: center;
        font-size: 15px;
    }

    .pointer {
        width: 15px;
        height: 15px;
        padding: 0;
    !important;
        border-color: #393939;
        background-color: red;
        border-width: 3px;
        border-style: solid;
        border-radius: 50%;
        margin-top: 25px;
        margin-left: 20px;
    }

    .on-off {
        margin-top: 10px;
    }
    .btn {
        padding: 4px;!important;
    }
    .footer {
        margin-top: 70px;
        color: white; !important;
    }
}